<!DOCTYPE html>
<html ng-app="topApp">
	<head>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<meta name="description" content="Smallmiro.GitHub.io : ">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
		<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
		<script src="js/controller/home.js"></script>
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<title>Smallmiro.GitHub.io</title>
	</head>
	<body ng-controller="legoController">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">레고 공홈 가격</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">

				</div>
				<!--/.navbar-collapse -->
			</div>
		</nav>
		<!-- HEADER -->
		<div class="jumbotron">
			<div class="container">
				<header class="inner">
					<h1 id="project_title">..</h1>
					<h2 id="project_tagline"></h2>
				</header>
			</div>
		</div>
		<div class="container">
			<!-- MAIN CONTENT -->
			<div id="main_content_wrap" class="outer">
				<section id="main_content" class="inner">
					<h3>
						<a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span class="octicon octicon-link"></span></a>Welcome to GitHub Pages.<button class='btn btn-default' ng-click="addAlert()">Add Alert</button>
					</h3>
					<p>
						<div class="input-group">
						  <input type="text" class="form-control" placeholder="Lego shop URL" aria-describedby="basic-addon2" ng-model="shopUrl">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" ng-click="getPrice()">Get Price!</button>
							</span>
						</div>
					</p>
					<div class="row">
				    <div class="col-sm-4">.col-sm-4</div>
				  </div>
				</section>
			</div>
			<!-- FOOTER  -->
			<div id="footer_wrap" class="outer">
				<footer class="inner">
					<p>만든이 <a href="https://pages.github.com">GitHub Pages</a></p>
				</footer>
			</div>
		</div>
	</body>
</html>
